<title>YukiFlix | Administration</title>{% include 'menu.html' %}
<main>
    <section class="banner">
        <div class="banner-card jour">
            <img
                src="https://i.ibb.co/71BbqLL/banniere.webp"
                class="banner-img"
                alt="Banner Image"
            />
        </div>
    </section>
    <section class="animes" id="section1">
        <div class="filter-bar">
            <h2 class="titre">Administation</h2>
        </div>
        <div class="dashboard">
        <header class="panel">
            <h1 style="font-size: 26px;">Tableau de bord d'administration</h1>
            <i class="fa-solid fa-user-astronaut" style="font-size: 60px;"></i>
        </header>
        <div class="summary">
            <h2 style="font-size: 30px;text-align: center;">Résumé</h2>
            <div class="stats">
                <div class="stat">
                    <div class="stat-box">
                        <i class="fa-solid fa-film"></i>
                        <p class="stat-label">Nombre de Séries</p>
                        <span id="seriesCount" class="stat-value" data-target="{{ seriesCount }}">0</span>
                    </div>
                </div>
                <div class="stat">
                    <div class="stat-box">
                        <i class="fa-solid fa-users"></i>
                        <p class="stat-label">Utilisateurs inscrits</p>
                        <span id="userCount" class="stat-value" data-target="{{ usersCount }}">0</span>
                    </div>
                </div>
                <div class="stat">
                    <div class="stat-box">
                        <i class="fa-solid fa-film"></i>
                        <p class="stat-label">Nombre de Films</p>
                        <span id="moviesCount" class="stat-value" data-target="{{ moviesCount }}">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <h2>Actions</h2>
            <div class="buttons">
                <a href="./add" class="action"><i class="fa-solid fa-circle-plus"></i>
                    Ajouter
                </a>
                <a href="./edit" class="action"><i class="fa-solid fa-pencil"></i>
                    Modifier
                </a>
                <a href="./delete" class="action"><i class="fa-solid fa-trash-can"></i>
                    Supprimer
                </a>
            </div>
        </div>
    </div>
    </section>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {

    function animateStats() {
        const statElements = document.querySelectorAll('.stat-value');
        statElements.forEach(element => {
            const targetValue = parseInt(element.getAttribute('data-target'));
            animateStat(element, targetValue);
        });
    }

    function animateStat(element, targetValue) {
        const duration = 1000;
        const increment = targetValue / (duration / 16);

        let currentValue = 0;
        const interval = setInterval(() => {
            currentValue += increment;
            element.textContent = Math.round(currentValue);

            if (currentValue >= targetValue) {
                element.textContent = targetValue;
                clearInterval(interval);
            }
        }, 16);
    }

    animateStats();
});
</script>
{% include 'footer.html' %}
