<title>YukiFlix | Catalogue</title>{% include "menu.html" %}
<main>
    <section class="banner">
        <div class="banner-card jour">
            <img
                src="https://i.ibb.co/71BbqLL/banniere.webp"
                class="banner-img"
                alt="Banner Image"
            />
        </div>
    </section>
    <section class="animes">
        <div class="filter-bar" id="catalogue">
            <h2 class="titre">Catalogue</h2>
            <div class="filter-options">
                <input type="radio" id="default-filter" name="filter" value="default" checked />
                <label for="default-filter" id="default">Défaut</label>

                <input type="radio" id="rating-filter" name="filter" value="rating" />
                <label for="rating-filter" id="note">Note</label>

                <input type="radio" id="view-filter" name="filter" value="rating" />
                <label for="view-filter" id="view">Vue</label>

                <input type="radio" id="alphabetical-filter" name="filter" value="alphabetical" />
                <label for="alphabetical-filter" id="abc">Alphabétique</label>
                <script>
                    document.getElementById('abc').addEventListener('click', function() {
                        window.location.href="/catalog/alphabet/{{page}}";
                    });
                    document.getElementById('default').addEventListener('click', function() {
                        window.location.href="/catalog/{{page}}";
                    });
                    document.getElementById('note').addEventListener('click', function() {
                        window.location.href="/catalog/note/{{page}}";
                    });
                    document.getElementById('view').addEventListener('click', function() {
                        window.location.href="/catalog/view/{{page}}";
                    });
                </script>
                <div class="checked"></div>
            </div>
        </div>
        <div class="cataContainer" id="anime-container">
            <div class="letters">
                <button class="letter-button" data-letter="all">Tous</button>
                <div class="vertical-line"></div>
                {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
                <button class="letter-button" data-letter="{{ letter|upper }}">
                    {{ letter|upper }}
                </button>
                {% endfor %}
            </div>
            <ul class="anime-list"></ul>
        </div>
        <div class="filter-bar" id="c-series">
            <h2 class="titre">Séries</h2>
        </div>
        <div class="animes-grid" id="animes-grid-series">
            {% for title,serie in zip(get_all_series_names(),get_all_series()) %}
            <div
                class="anime-card"
                title="{{ title }}"
                data-letter="{{ title[0]|upper }}"
            >
                <a href="/watch/serie/count/{{ title }}">
                    <div class="card-head" title="{{ title }}">
                        <img
                            src="/static/img/{{ serie.image_V }}"
                            class="card-img"
                            alt="{{ title }}"
                        />
                        <div class="card-overlay">
                            <div class="views">
                                    <i class="fa-solid fa-eye"></i><span>{{ get_counter(title).count }}</span>
                            </div>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i
                                ><span>{{ serie.stars }}</span>
                            </div>
                            <div class="play">
                                    <i class="fa-solid fa-circle-play"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="animes" id="section1">
        <div class="filter-bar" id="c-movies">
            <h2 class="titre">Films</h2>
        </div>
        <div class="animes-grid" id="animes-grid-movies">
            {% for movie in movies%}
            <div
                class="anime-card"
                title="{{ movie.name }}"
                data-letter="{{ movie.name[0]|upper }}"
            >
                <a href='/watch/movie/count/{{ movie.name }}'>
                    <div class="card-head" title="{{ movie.name }}">
                        {% if "http" in movie.image_V and "://" in movie.image_V %}
                                <img
                                    src="{{ movie.image_V }}"
                                    class="card-img"
                                    alt="{{ movie.name }}"
                                />
                        {% else %}
                                <img
                                    src="/static/img/{{ movie.image_V }}"
                                    class="card-img"
                                    alt="{{ movie.name }}"
                                />
                        {% endif %}
                        <div class="card-overlay">
                        <div class="rating">
                            <i class="fa-solid fa-star"></i
                            ><span>{{ movie.stars }}</span></div>
                            <div class="play">
                                <i class="fa-solid fa-circle-play"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ movie.name }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    <div id="pagination" class="pagination">
    <a class="disabled" href={{"/".join(request.path.split("/")[:-1])+"/1#c-movies"}}>
        <i class="fa-solid fa-angles-left"></i>
    </a>
    {% if page<=1 %}
        {% set link = "#c-movies" %}
    {% else %}
        {% set link = "/".join(request.path.split("/")[:-1])+"/"+str(page-1)+"#c-movies" %}
    {% endif %}
    <a class="disabled" href={{link}}>
        <i class="fa-solid fa-angle-left"></i>
    </a>
    {% if page>=len_pages %}
        {% set ecart = len_pages-4,len_pages+1 %}
    {% else %}
        {% set ecart = page,page+5 %}
    {% endif %}
    {% for x in range(*ecart) %}
        <a href={{"/".join(request.path.split("/")[:-1])+"/"+str(x)+"#c-movies"}}>{{x}}</a>
    {% endfor %}
    {% if page>=len_pages %}
        {% set link = "#c-movies" %}
    {% else %}
        {% set link = "/".join(request.path.split("/")[:-1])+"/"+str(page+1)+'#c-movies' %}
    {% endif %}
    <a class="disabled" href={{link}}>
        <i class="fa-solid fa-angle-right"></i>
    </a>
    <a class="disabled" href={{"/".join(request.path.split("/")[:-1])+"/"+str(len_pages)+'#c-movies'}}>
        <i class="fa-solid fa-angles-right"></i>
    </a>
    </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        // Sélectionner le bouton "Tous" par défaut
        const defaultButton = $(".letter-button[data-letter='all']");

        defaultButton.addClass("active").attr("disabled", true);

        // Déclencher le clic du bouton "Tous" par défaut
        defaultButton.click();

        $(".letter-button").click(function () {
            const selectedLetter = $(this).data("letter"); // Convertir en minuscules

            $(".letter-button").removeClass("active").removeAttr("disabled");
            $(this).addClass("active").attr("disabled", true);

            // Masquer tous les éléments d'anime et de film
            $(".anime-card").hide();

            // Afficher les éléments d'anime et de film correspondant à la lettre sélectionnée
            if (selectedLetter === "all") {
                $(".anime-card").show();
            } else {
                $(".anime-card").each(function () {
                    const dataLetter = $(this).data("letter"); // Convertir en minuscules
                    if (dataLetter === selectedLetter) {
                        $(this).show();
                    }
                });
            }
        });
    });
// Sélectionner toutes les balises <img> dans le document
var images = document.getElementsByTagName('img');

// Créer un tableau pour stocker les sources des images
var imageSources = [];

// Parcourer toutes les balises <img> et obtenez leurs attributs "src"
for (var i = 0; i < images.length; i++) {
  var src = images[i].getAttribute('src');

  // Ajouter la source à votre tableau
  imageSources.push(src);
}
function preloadImages(imageArray) {
  for (var i = 0; i < imageArray.length; i++) {
    var img = new Image();
    img.src = imageArray[i];
  }
}

// Appeler la fonction pour précharger les images
preloadImages(imageSources);
</script>
{% include "footer.html" %}
