<title>YukiFlix | Supprimer</title>{% include 'menu.html' %}
<main>
  <section class="banner">
    <div class="banner-card jour">
      <img src="https://i.ibb.co/71BbqLL/banniere.webp" class="banner-img" alt="Banner Image" />
    </div>
  </section>
  <section class="movies" id="section1">
    <div class="filter-bar">
      <h2 class="titre">Supprimer</h2>
    </div>
    <section class="movies" id="add">
      <span class="delete-something">Film:</span>
      <a href="./movie">Supprimer un Film</a>
      <span class="delete-something">Série:</span>
      <a href="./serie">Supprimer une Série</a>
      <a href="./serie/season">Supprimer une Saison (avec ses épisodes)</a>
      <a href="./serie/episode">Supprimer un Episode</a>
    </section>
  </section>
</main>
{% include 'footer.html' %}